<article class="flex  w-full justify-between items-center  gap-2">

    <div class="flex text-[10px] sm:text-[12px] sm:gap-3 gap-[25px] justify-between items-center md:text-[16px] transition-all">
        <div class=" hidden gap-2 items-center sm:hidden md:flex transition-all">
            <i class="bi bi-geo-alt-fill text-green-500 sm:text-[10px] md:text-[15px] transition-all"> </i>
            <span>Cra 3 #22-24 avenida circunvalar local 12</span>
        </div>
    
        <div class="flex gap-2 items-center ">
            <i class="bi bi-envelope-fill sm:text-[12px] md:text-[15px] transition-all self-end"></i>
            <span>dientesWhite&#64;gmail.com</span>
        </div>
    </div>
    
    <div class="flex gap-1 text-[10px] sm:text-[12px] sm:gap-2 items-center md:text-[16px] md:gap-3 transition-all">
        <i class="bi bi-facebook "></i>
        <i class="bi bi-whatsapp"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-github"></i>
    </div>

</article>