@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    box-sizing: border-box;
    font-family: 'iphone-general';
    /* background-color:#9333ea; */
    text-color:white;
    color:white;
    background: rgba(255, 255, 255, 0.9 );
}
.bg-profile{
    background: rgba(0, 0, 0, 0.9) url('../public/img/FondoBueno.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.article::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Ajusta el color y la opacidad */
        z-index: 1;
}
.img-background{
    background: rgba(255, 255, 255, 0.0); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
@font-face {
    font-family: 'iphone-lower';
    src: url('../public/fuenteIphone/SFPRODISPLAYBLACKITALIC.OTF') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'iphone-lowerv2';
    src: url('../public/fuenteIphone/SFPRODISPLAYBOLD.OTF') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'iphone-medium';
    src: url('../public/fuenteIphone/SFPRODISPLAYHEAVYITALIC.OTF') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'iphone-general';
    src: url('../public/fuenteIphone/SFPRODISPLAYMEDIUM.OTF') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
    margin: auto;
    margin-top: 20vh;
  }
  @keyframes l5 {
      0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
      33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
      66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
      100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
  }
  