<article class="w-full flex flex-wrap  p-6 sm:p-6 md:p-6  lg:pr-[6.5em] lg:pl-[6.5em] ">
    <section class="flex flex-col ">
        <h1 class="text-[40px] max-w-[600px]">los mejores en  </h1>
        <h1 class="text-[40px] max-w-[6     00px]">diagnostico y </h1>
        <h1 class="text-[40px] max-w-[600px]">prevencion para el </h1>
        <h1 class="text-[40px] max-w-[600px]">cuidado de tu sonrisa </h1>
        <p class="max-w-[600px] text-[18px]">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Atque dolorum molestias asperiores debitis dicta sit odio,
            rem magni? Distinctio, placeat nobis alias velit perferendis veritatis.
            Nesciunt eius quia veniam perferendis.
        </p>
    </section>
    <section class="flex-1 ">
        <picture class="self-center flex items-center justify-center">
            <img class="self-center min-w-[300px] min-h-[640px] " src="img/michael.png" alt="">
        </picture>
    </section>
</article>