<article class="w-full flex flex-wrap gap-6 pt-4 pl-6 pr-6 sm:pl-6 sm:pr-6 md:pl-6 md:pr-6 lg:pr-[6.5em] lg:pl-[6.5em] min-h-screen bg-profile article relative overflow-hidden rounded-[1em]">
    <div class="w-full pt-[10px] transition-all z-50">
        <app-navigate/>
    </div>
    <section class="flex flex-col z-10 relative">
        <h1 class="text-[40px] max-w-[600px]">los mejores en</h1>
        <h1 class="text-[40px] max-w-[600px]">diagnostico y</h1>
        <h1 class="text-[40px] max-w-[600px]">prevencion para el</h1>
        <h1 class="text-[40px] max-w-[600px]">cuidado de tu sonrisa</h1>
        <p class="max-w-[600px] text-[18px]">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Atque dolorum molestias asperiores debitis dicta sit odio,
            rem magni? Distinctio, placeat nobis alias velit perferendis veritatis.
            Nesciunt eius quia veniam perferendis.
        </p>
        <div class="flex gap-6 mt-5 items-center">
            <i class="bi bi-arrow-right text-[3em] animate-scalePulse transition-all"></i>
            <button class="p-2  mr-[25px] rounded-2xl text-[1.2em] hover:animate-bounce min-w-[135px] transition-all bg-purple-600 hover:bg-purple-800 text-white hover:text-white">Conoce Nuestros Servicios</button>
        </div>
    </section>
    <section class="flex-1 flex justify-center mt-[20px] z-40 ">
        <picture class="self-center flex items-center justify-center w-[300px] h-[350px] sm:w-[300px] sm:h-[350px] md:w-[400px] md:h-[450px] transition-all img-background  rounded-[200%] mb-[230px] relative drop-shadow-[0_25px_25px_rgba(0,0,0,0.3)]">
            <img class="w-full h-full object-contain object-center rounded-full " src="img/michael.png" alt="">
        </picture>
    </section>
    <svg class="absolute bottom-0 left-0 w-full" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1" class="mt-[200px] h-[100px]" d="M0,224L80,202.7C160,181,320,139,480,138.7C640,139,800,181,960,186.7C1120,192,1280,160,1360,144L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
    </svg>
</article>

<article class="flex flex-wrap justify-center z-10 mt-[-60px] relative ">
        <div class="max-w-[260px] flex items-center min-h-[390px] p-[40px] bg-purple-600 rounded-[1em]">
            <h1 class="text-[2.2em]">Servicios A La Medida De Tus Necesidades</h1>
        </div> 
        <div class="text-black flex flex-col max-w-[300px] p-2 justify-center items-center gap-4 text-center bg-white h-[370px] mt-[40px] 
        shadow-[0px_4px_15px_-8px_rgba(0,0,0,0.1)]">
            <picture>
                <img class="max-w-[60px]"  src="img/normal.png" alt="normal">
            </picture>
            <h2 class="text-purple-600 text-[1.3em]">Rehabilitación oral</h2>
            <P>Devolvemos la armonía a tu sonrisa brindándote un diagnostico y tratamiento adecuado.</P>
        </div>        
        <div class="text-black flex flex-col max-w-[300px] p-2 justify-center items-center gap-4 text-center bg-white h-[370px] mt-[40px] 
        shadow-[0px_4px_15px_-10px_rgba(0,0,0,0.1)]">
            <picture>
                <img class="max-w-[60px]"  src="img/clean.png" alt="normal">
            </picture>
            <h2 class="text-purple-600 text-[1.3em]">Rehabilitación oral</h2>
            <P>Devolvemos la armonía a tu sonrisa brindándote un diagnostico y tratamiento adecuado.</P>
        </div>
        <div class="text-black flex flex-col max-w-[300px] p-2 justify-center items-center gap-4 text-center bg-white h-[370px] mt-[40px] 
        shadow-[0px_4px_15px_-9px_rgba(0,0,0,0.1)]">
            <picture>
                <img class="max-w-[60px]"  src="img/big.png" alt="normal">
            </picture>
            <h2 class="text-purple-600 text-[1.3em]">Rehabilitación oral</h2>
            <P>Devolvemos la armonía a tu sonrisa brindándote un diagnostico y tratamiento adecuado.</P>
        </div>
</article>  

<article class="bg-black h-[200px]">
    <div class="w-[50%] ">
        <p OnMauseMove [tiltSpeed]="5"
         class="box text-black bg-blue-500 shadow-2xl h-[600px]">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium porro sit
          amet, accusamus ratione perspiciatis quasi sint. Veritatis perspiciatis
          quaerat quidem vero commodi, impedit doloremque sint nobis modi, quia omnis.
        </p>
        
    </div>
  </article>